Telegram.json
{
  "name": "Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -60
      ],
      "id": "f7a0b7fd-c301-43d1-9533-fb7ec31d1e3c",
      "name": "Telegram Trigger",
      "webhookId": "a81e0c73-23a4-47bb-969d-cda72e8a934e",
      "credentials": {
        "telegramApi": {
          "id": "RiGKiHECuXO9HaXr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n#user Info\nUser name-{{ $('Telegram Trigger').item.json.message.chat.first_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        420,
        -60
      ],
      "id": "4c79b7c9-01a0-42d7-8b98-2706bb3970da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        140
      ],
      "id": "48227273-b7ad-422b-ae6d-aa71c59d637b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FeX0LleU8ttfd8eF",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        320
      ],
      "id": "aaf9b4c0-ddda-4999-8b61-570c3f59bb03",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        780,
        -60
      ],
      "id": "2c49488a-3507-4254-93a5-e94a7eff6f63",
      "name": "Telegram",
      "webhookId": "1338279f-3533-4ffa-b43f-1a8976d61f11",
      "credentials": {
        "telegramApi": {
          "id": "RiGKiHECuXO9HaXr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "59557e03-cb57-4afa-8777-6472c57ad9cf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "26ca76b3-5f5c-43c9-bff0-b0395a3d301d",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -40,
        -60
      ],
      "id": "68dfea70-6a68-464c-b86b-bbb8ded104d9",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        580,
        160
      ],
      "id": "800bed4f-ab61-4cda-8ff7-14ad3059fdde",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "9KsP6Fhdqhun8ZKm",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1110a6f6-ec7c-4e44-8978-9fb433003c96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e96cabc0e06ff7cb5d2954b0c7c1086cb86ea14b2b2cb2d1fe49028266217d6d"
  },
  "id": "BX96KPhU5rlHxjNw",
  "tags": []
}